@using Umbraco.Cheatsheet.Core
@inherits UmbracoViewPage<SingleUrlPicker>

<!--If the user didn't choose a link this will render an error on the page'-->
<h1>Variant 1</h1>
<a href="@Model.Link.Url" target="@Model.Link.Target">
    @Model.Link.Name
</a>

<!--Error handling for Variant 1 use case-->
<h1>Variant 2</h1>
@if (Model.Link != null)
{
    <a href="@Model.Link.Url" target="@Model.Link.Target">
        @Model.Link.Name
    </a>
}

<!--Short hand error handling for Variant 2 use case-->
@Html.Wrap("h1", "Variant 3")
<a href="@(Model.Link?.Url)" target="@(Model.Link?.Target)">
    @(Model.Link?.Name)
</a>